body {
	background-color: gray;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	padding: 20px;
}
.yellow {
	color: yellow;
}
p {

	font-size: 25px;
	font-weight: 700;
	color:  orange;
	margin: 10px 0px 0px 0px;
}
